@media screen and (min-width: 992px) and (max-width: 1200px)
{
    .wrapper .content-page .container-fluid .user-wrapper.d-flex svg {
        /*position: relative;*/
        /*top: 83%;*/
        /*right: 84%;*/
        opacity: 0;
    }
    .wrapper .content-page .container-fluid .user-wrapper img.avatar {
        border: 2px solid #ffcc29;
        padding: 3px;
        width: 14%;
        height: 57%;
    }
    .wrapper > div.content-page .container-fluid .user-wrapper.d-flex
    {
        margin-top: -5% !important;
    }
    .wrapper .content-page .container-fluid .widget-flat
    {
        border-radius: 14px;
        padding: 7px 18px;
    }
    .wrapper .content-page .container-fluid .widget-flat h5{
        font-size: 22px !important;
        line-height: 25px;
        font-weight: bold;
        color: #000000 !important;
    }
    .wrapper .content-page .container-fluid .widget-flat p
    {
        font-size: 16px;
        line-height: 3px;
    }
    .wrapper .content-page .container-fluid .widget-flat .float-end svg {
        margin-top: 2px;
    }
    .wrapper .content-page .container-fluid .widget-flat.widget1,
    .wrapper .content-page .container-fluid .widget-flat.widget2
    {
        margin-top: 10px;
    }
    select.form-select{
        width: 50% !important;
    }
    .wrapper .content-page .container-fluid .nav-tabs.nav-bordered h3 {
        font-weight: 600;
        font-size: 19px;
        line-height: 16px;
        color: #292929;
    }
    .wrapper .content-page .container-fluid .clientInformatio-right button.client {
        padding: 7px 30px;
    }
    .wrapper .content-page .container-fluid .clientInformatio-right button {
        padding: 7px 25px;
    }
    .wrapper > div.content-page .container-fluid.p-4 .col-md-3 button.btn.btn-outline-success svg{
        width: 20px;
    }
    .wrapper .content-page .container-fluid .clientInformatio-right button a {
        font-size: 12px;
    }
    .wrapper .content-page .container-fluid .clientInformatio-right button{
        margin-left: 20px;
    }
    .wrapper .content-page .container-fluid .clientInformatio-right button.agreement {
        padding: 10px 18px;
    }
    .wrapper .content-page .container-fluid .clientInformatio-right button.overall {
        padding: 5px 15px;
    }
    .wrapper .content-page .container-fluid .clientInformatio-right button.advice {
        padding: 15px 27px;
    }




    .wrapper .content-page .container-fluid .user-wrapper.d-flex h4.user-name {
        font-size: 22px;
        line-height: 18px;
    }
    .wrapper .content-page .container-fluid .user-wrapper.d-flex p.user-body, .nav-user .account-user-name {
        font-size: 14px;
        line-height: 16px;
    }




    .fc-media-screen .fc-timegrid-event-harness {
        height: 20vh !important;
        border-radius: 12px !important;
        width: 170px !important;
    }
    .fc-media-screen .fc-timegrid-event-harness .card-footer {
        position: absolute;
        top: 100%;
    }
    .fc-media-screen .fc-timegrid-event-harness img {
        border-radius: 50%;
        float: left;
        width: 50%;
        padding: 5px;
        background: #fff;
        position: relative;
        top: 0;
        right: 25px;
    }
    .fc-media-screen .fc-timegrid-event-harness .card-header{
        font-size: 15px !important;
        color: #3A3A3A !important;
        font-weight: 500;
        margin-bottom: 3px !important;
        align-items: start !important;
    }
    .fc-media-screen .fc-timegrid-event-harness h3{
        color: #474D53 !important;
        float: left !important;
        font-weight: 600;
        font-size: 14px !important;
        align-items: start !important;
    }
    .fc-media-screen .fc-timegrid-event-harness p{
        font-size:12px;
        line-height: 35px;
        font-weight: 600;
        color: #474D53 !important;
    }
    .fc-media-screen .fc-timegrid-event-harness span b{
        font-size: 10px !important;
        line-height: 9px !important;
        color: #000000 !important;
        position: relative;
        top: 5px;
        right:  20%;

    }

}


/*---------------------------------*/
@media screen and (min-width: 576px) and (max-width: 991px)
{
    .wrapper .content-page .container-fluid .user-wrapper.d-flex svg {
        opacity: 0;
    }
    .wrapper .content-page .container-fluid .user-wrapper img.avatar {
        border: 2px solid #ffcc29;
        padding: 3px;
        width: 14%;
        height: 60%;
    }
    .wrapper > div.content-page .container-fluid .user-wrapper.d-flex
    {
        margin-top: -5% !important;
    }
    .wrapper .content-page .container-fluid .widget-flat
    {
        border-radius: 14px;
        padding: 7px 18px;
    }
    .wrapper .content-page .container-fluid .widget-flat h5{
        font-size: 22px !important;
        line-height: 25px;
        font-weight: bold;
        color: #000000 !important;
    }
    .wrapper .content-page .container-fluid .widget-flat p
    {
        font-size: 16px;
        line-height: 3px;
    }
    .wrapper .content-page .container-fluid .widget-flat .float-end svg {
        margin-top: 2px;
    }
    .wrapper .content-page .container-fluid .widget-flat.widget1,
    .wrapper .content-page .container-fluid .widget-flat.widget2
    {
        margin-top: 10px;
    }
    select.form-select{
        width: 50% !important;
    }
    .wrapper .content-page .container-fluid .clientInformatio-right button {
        margin-left: 45px !important;
    }
    .wrapper .content-page .container-fluid .nav-tabs.nav-bordered h3 {
        font-weight: 600;
        font-size: 19px;
        line-height: 16px;
        color: #292929;
    }
    .wrapper > div.content-page > div > div.container-fluid .clientInformatio-right{
        margin-left: -60px;
    }
    .wrapper .content-page .container-fluid .clientInformatio-right button.client {
        padding: 7px 30px;
    }
    .wrapper .content-page .container-fluid .clientInformatio-right button {
        padding: 7px 25px;
    }
    .wrapper > div.content-page .container-fluid.p-4 .col-md-3 button.btn.btn-outline-success svg{
        width: 20px;
    }
    .wrapper .content-page .container-fluid .clientInformatio-right button a {
        font-size: 12px;
    }
    .wrapper .content-page .container-fluid .clientInformatio-right button{
        margin-left: -16px;
    }
    .wrapper .content-page .container-fluid .clientInformatio-right button.agreement {
        padding: 10px 18px;
    }
    .wrapper .content-page .container-fluid .clientInformatio-right button.overall {
        padding: 5px 15px;
    }
    .wrapper .content-page .container-fluid .clientInformatio-right button.advice {
        padding: 15px 27px;
    }
    .wrapper .content-page .container-fluid .clientInformatio-right button.termite {
        padding: 5px 0;
    }



    .wrapper .content-page .container-fluid .user-wrapper.d-flex h4.user-name {
        font-size: 15px;
        line-height: 15px;
    }
    .wrapper .content-page .container-fluid .user-wrapper.d-flex h4.user-name b {
        color: #292929;
        font-size: 18px;
        line-height: 14px;
    }

    .wrapper .content-page .container-fluid .user-wrapper.d-flex p.user-body, .nav-user .account-user-name {
        font-size: 12px;
        line-height: 15px;
    }




    .fc-media-screen .fc-timegrid-event-harness {
        height: 20vh !important;
        border-radius: 12px !important;
        width: 170px !important;
    }
    .fc-media-screen .fc-timegrid-event-harness .card-footer {
        position: absolute;
        top: 100%;
    }
    .fc-media-screen .fc-timegrid-event-harness img {
        border-radius: 50%;
        float: left;
        width: 50%;
        padding: 5px;
        background: #fff;
        position: relative;
        top: 0;
        right: 25px;
    }
    .fc-media-screen .fc-timegrid-event-harness .card-header{
        font-size: 15px !important;
        color: #3A3A3A !important;
        font-weight: 500;
        margin-bottom: 3px !important;
        align-items: start !important;
    }
    .fc-media-screen .fc-timegrid-event-harness h3{
        color: #474D53 !important;
        float: left !important;
        font-weight: 600;
        font-size: 14px !important;
        align-items: start !important;
    }
    .fc-media-screen .fc-timegrid-event-harness p{
        font-size:12px;
        line-height: 35px;
        font-weight: 600;
        color: #474D53 !important;
    }
    .fc-media-screen .fc-timegrid-event-harness span b{
        font-size: 10px !important;
        line-height: 9px !important;
        color: #000000 !important;
        position: relative;
        top: 5px;
        right:  20%;

    }


}
