@font-face {
    font-family: 'Calibre';
    src: url('fonts/Calibre-Light.eot');
    src: local('Calibre Light'), local('Calibre-Light'),
    url('fonts/Calibre-Light.eot?#iefix') format('embedded-opentype'),
    url('fonts/Calibre-Light.woff2') format('woff2'),
    url('fonts/Calibre-Light.woff') format('woff'),
    url('fonts/Calibre-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Calibre';
    src: url('fonts/Calibre-Thin.eot');
    src: local('Calibre Thin'), local('Calibre-Thin'),
    url('fonts/Calibre-Thin.eot?#iefix') format('embedded-opentype'),
    url('fonts/Calibre-Thin.woff2') format('woff2'),
    url('fonts/Calibre-Thin.woff') format('woff'),
    url('fonts/Calibre-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Calibre';
    src: url('fonts/Calibre-LightItalic.eot');
    src: local('Calibre Light Italic'), local('Calibre-LightItalic'),
    url('fonts/Calibre-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('fonts/Calibre-LightItalic.woff2') format('woff2'),
    url('fonts/Calibre-LightItalic.woff') format('woff'),
    url('fonts/Calibre-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Calibre';
    src: url('fonts/Calibre-MediumItalic.eot');
    src: local('Calibre Medium Italic'), local('Calibre-MediumItalic'),
    url('fonts/Calibre-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('fonts/Calibre-MediumItalic.woff2') format('woff2'),
    url('fonts/Calibre-MediumItalic.woff') format('woff'),
    url('fonts/Calibre-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Calibre';
    src: url('fonts/Calibre-BlackItalic.eot');
    src: local('Calibre Black Italic'), local('Calibre-BlackItalic'),
    url('fonts/Calibre-BlackItalic.eot?#iefix') format('embedded-opentype'),
    url('fonts/Calibre-BlackItalic.woff2') format('woff2'),
    url('fonts/Calibre-BlackItalic.woff') format('woff'),
    url('fonts/Calibre-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: 'Calibre';
    src: url('fonts/Calibre-Semibold.eot');
    src: local('Calibre Semibold'), local('Calibre-Semibold'),
    url('fonts/Calibre-Semibold.eot?#iefix') format('embedded-opentype'),
    url('fonts/Calibre-Semibold.woff2') format('woff2'),
    url('fonts/Calibre-Semibold.woff') format('woff'),
    url('fonts/Calibre-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Calibre';
    src: url('fonts/Calibre-Black.eot');
    src: local('Calibre Black'), local('Calibre-Black'),
    url('fonts/Calibre-Black.eot?#iefix') format('embedded-opentype'),
    url('fonts/Calibre-Black.woff2') format('woff2'),
    url('fonts/Calibre-Black.woff') format('woff'),
    url('fonts/Calibre-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Calibre';
    src: url('fonts/Calibre-Medium.eot');
    src: local('Calibre Medium'), local('Calibre-Medium'),
    url('fonts/Calibre-Medium.eot?#iefix') format('embedded-opentype'),
    url('fonts/Calibre-Medium.woff2') format('woff2'),
    url('fonts/Calibre-Medium.woff') format('woff'),
    url('fonts/Calibre-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Calibre';
    src: url('fonts/Calibre-RegularItalic.eot');
    src: local('Calibre Regular Italic'), local('Calibre-RegularItalic'),
    url('fonts/Calibre-RegularItalic.eot?#iefix') format('embedded-opentype'),
    url('fonts/Calibre-RegularItalic.woff2') format('woff2'),
    url('fonts/Calibre-RegularItalic.woff') format('woff'),
    url('fonts/Calibre-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Calibre';
    src: url('fonts/Calibre-BoldItalic.eot');
    src: local('Calibre Bold Italic'), local('Calibre-BoldItalic'),
    url('fonts/Calibre-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('fonts/Calibre-BoldItalic.woff2') format('woff2'),
    url('fonts/Calibre-BoldItalic.woff') format('woff'),
    url('fonts/Calibre-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Calibre';
    src: url('fonts/Calibre-Bold.eot');
    src: local('Calibre Bold'), local('Calibre-Bold'),
    url('fonts/Calibre-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/Calibre-Bold.woff2') format('woff2'),
    url('fonts/Calibre-Bold.woff') format('woff'),
    url('fonts/Calibre-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Calibre';
    src: url('fonts/Calibre-Regular.eot');
    src: local('Calibre'), local('Calibre-Regular'),
    url('fonts/Calibre-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/Calibre-Regular.woff2') format('woff2'),
    url('fonts/Calibre-Regular.woff') format('woff'),
    url('fonts/Calibre-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Calibre';
    src: url('fonts/Calibre-SemiboldItalic.eot');
    src: local('Calibre Semibold Italic'), local('Calibre-SemiboldItalic'),
    url('fonts/Calibre-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
    url('fonts/Calibre-SemiboldItalic.woff2') format('woff2'),
    url('fonts/Calibre-SemiboldItalic.woff') format('woff'),
    url('fonts/Calibre-SemiboldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'Calibre';
    src: url('fonts/Calibre-ThinItalic.eot');
    src: local('Calibre Thin Italic'), local('Calibre-ThinItalic'),
    url('fonts/Calibre-ThinItalic.eot?#iefix') format('embedded-opentype'),
    url('fonts/Calibre-ThinItalic.woff2') format('woff2'),
    url('fonts/Calibre-ThinItalic.woff') format('woff'),
    url('fonts/Calibre-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}


body{
    font-family: 'Calibre' !important;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    background: #F2F2F2;
}
/*------------------ Active ------------- ----------*/
.activeColor{color: #69A200 !important;}
.activeColor:hover{color: #939DA7 !important;}
.activeBackground{
    background: #69A200 !important;
    border: 1px solid #69A200 !important;
    color: #fff !important;
}
/*------------------------------------------------*/


/*--------------- Sidebar----------------*/

.side-nav .side-nav-link span,
.side-nav .side-nav-second-level li a
{
    font-size: 18px;
    line-height: 36px;
}

.side-nav .side-nav-link span.badge
{
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
}

.wrapper .content-page .container-fluid .user-wrapper.d-flex h4.user-name{
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 31px;
    color: #292929;
}
.wrapper .content-page .container-fluid .user-wrapper.d-flex h4.user-name b{
    color: #292929;
}
.wrapper .content-page .container-fluid .user-wrapper.d-flex p.user-body,
.nav-user .account-user-name
{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #474D53;
}
.wrapper .content-page .container-fluid h5{
    font-size: 35px !important;
    color: #000;
}
.widget-flat h5 i{
    font-size: 12px !important;
}

.card .header-title{
    font-style: normal;
    font-weight: normal;
    font-size: 22px !important;
    line-height: 26px;
    color: #292929;
}
.side-nav .side-nav-second-level li a:hover{
    color: #69A200;
}
.wrapper .content-page .container-fluid .widget-flat .float-end svg
{
    margin-top: 13px;
}
/*------------------- ----------------------------*/
.wrapper .content-page .container-fluid .widget-flat
{
    border-radius: 14px;
}
.wrapper .content-page .container-fluid .widget-flat h5{
    font-size: 35px !important;
    line-height: 42px;
    font-weight: bold;
    color: #000000 !important;
}
.wrapper .content-page .container-fluid .widget-flat p
{
    font-size: 20px ;
    line-height: 24px;
}
.wrapper .content-page .container-fluid .widget-flat p span.text-nowrap1{ color: #69A200;}
.wrapper .content-page .container-fluid .widget-flat p span.text-nowrap2{ color: #DA9900;}
.wrapper .content-page .container-fluid .widget-flat p span.text-nowrap3{ color: #D91F4A;}
.wrapper .content-page .container-fluid .widget-flat p span.text-nowrap4{ color: #505050;}
.wrapper .content-page .container-fluid .widget-flat.widget1{background: #E2F1D6;}
.wrapper .content-page .container-fluid .widget-flat.widget2{background: #FDEFD1;}
.wrapper .content-page .container-fluid .widget-flat.widget3{background: #FAD2DB;}
.wrapper .content-page .container-fluid .widget-flat.widget4{background: #E0E0E0;}




/*----------------------------------------------------*/

/*--------------- Calender Model -----------------------*/
#calenderModel .modal.show .modal-left, .modal.show .modal-right{
    height: 185vh !important;
}

#event-modal .modal-body input
{
    width: 100%;
    height: 100%;
    border: 1px solid #E5E5E5;
    box-shadow: 0 1px 1px rgba(0, 0 ,0 , 0.08);
    border-radius: 7px;
    text-align: center;
}
#modal-title{
    font-weight: 500;
    font-size: 22px !important;
    line-height: 26px;
    color: #69A200;
}
#form-event .row .header{
    padding: 0 7rem 0 5rem!important
}
#form-event .modal-body
{
    font-size: 16px;
    line-height: 19px;
    color: #8F99A4;
}
#form-event > div.modal-body h5{
    font-size: 22px;
    line-height: 26px;
    color: #69A200;
}
#form-event .modal-body span button{
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    margin-left: 10px;
}
#form-event .modal-body .row.nav-tabs.nav-bordered button:hover
{
    color: #fff;
}
/*--------------- Calender Model -----------------------*/


/*------------------------- Staff Location----------------------------*/

.inbox-widget img.img1,
.inbox-widget img.img2,
.inbox-widget img.img3,
.inbox-widget img.img4
{
    border-radius: 50%;
    padding: 3px;
}

.inbox-widget .user-name {
    font-size: 15px;
    font-weight: 500;
    color: #474D53;
    letter-spacing: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.inbox-widget .inbox-item .inbox-item-text{
    font-size: 14px;
}
.inbox-widget .btn-outline-light
{
    padding: 4px;
    border-radius: 5px;
    margin-right: 8px;
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
    text-align: center;
    border: none;
    color: #69A200;
    background: #EAF2E1;
}
.inbox-widget img.img1{border: 2px solid #81B214; background: transparent;}
.inbox-widget img.img2{border: 2px solid #B9B9B9; background: transparent;}
.inbox-widget img.img3{border: 2px solid #CC9F00; background: transparent;}
.inbox-widget .details{color: #B9B9B9;background: #fff; border: solid}
.inbox-widget .to-do{color: #A5A5A5;background: #ECECEC;}
.inbox-widget .on-way{color: #CC9F00;background: #FFF3BE;}

.inbox-widget p.inbox-item-date svg{
    position: absolute;
    top: 68%;
    left: 10px;
}

.inbox-widget .inbox-item svg.line-icon {
    position: absolute;
    top: 16%;
    left: 28px;
}
.inbox-widget .inbox-item .km{
    position: absolute;
    top: 51%;
    left: 5%;
    color: #69A200;
    font-size: 11px;
}

.inbox-widget .inbox-item i.fa-map-marker-alt{
    position: absolute;
    top: 36%;
    left: 4%;
    padding: 12px;
    color: #69A200;
    border: 1px solid #d9d9d9;
    background-color: #d9d9d9;
    border-radius: 50%;
}


.inbox-widget .item-border
{
    border-radius: 5px;
    border: 2px solid #69A200;
}
.inbox-widget .inbox-item .inbox-item-author{
    font-size: 18px;
    font-weight: 900;
}
.wrapper .content-page .container-fluid table-responsive table thead th
{
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #868B8F;
}
.wrapper .content-page .container-fluid .table-responsive table tbody tr td
{
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #292929;
}
/*--------------- End Staff Location ------------------------*/

/*-------------------------- End Location -------------------*/

.form-check-input:focus {
    border-color: #c8cbcf;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.form-check-input:checked {
    background-color: #69A200;
    border-color: #69A200;
}

.widget-flat
{
    border: 14px ;
}

.widget-flat h5{
    font-size: 25px;
}
.widget-flat h5 i.fa-arrow-up{color: #69A200}
.widget-flat h5 i.fa-arrow-down{color: #C52929}
#leftside-menu-container .simplebar-wrapper .simplebar-mask .logout.text-white.text-center  a
{
    color: #939DA7;
    background: #FFFFFF;
    border-radius: 7px;
    padding: 9px 28px;
    font-size: 17px;
    text-decoration: none;

}
.wrapper .content-page .container-fluid .user-wrapper.d-flex svg
{
    position: relative;
    top: 83%;
    right: 84%;
}

.logout
{
    margin: 80px 1px;
    border-radius: 5px;
    padding: 9px;
    background-color: #f4f4f400;;
}
.help-box i.fa-sign-out-alt
{
    margin-left: 20%;
}
#hideTextLogo  span {
    background: #FFFFFF;
    border-radius: 7px;
    padding: 18px 40px;
    font-size: 16px;
    color: #939DA7;
}

/*-------------------- Check Model ----------------*/

/*--------------------Model---------------*/

 .modal-body input[type=text]
{
    width: 15%;
    height: 29%;
    border-radius: 5px;
    border: 1px solid #a0a0a0;
}

 .modal-body  span
{
    font-size: 12px;
    margin-left: 5px;
}
 .modal-body .colors{
    border: 0.5px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 7px;
}
 .modal-body  span.medium,
.table .colors span.badge.medium
{color: #FF7629; background: #FF7629}

.modal-content .btn-success
{
    font-size: 12px;
    padding: 4px 15px;

}
.modal-content .btn-success a:hover
{
    color: #fff

}
 a{color: #fff; text-decoration: none;}
 .modal-header > button.btn.btn-success {padding: 3px 10px;}
.modal-footer{display: inline-block !important}
.modal-content .modal-footer .btn-success {float: right !important}
.modal-content .modal-footer .btn-outline-light
{
    padding: 4px;
    font-size: 12px;
    color: #939DA7 !important;
    border: 1px solid #939DA7 !important;

}
/*------------------------End Model ---------------------------*/

/*-------------------------- Start  -------------------------*/
.wrapper .content-page .container-fluid .card h5.paragraph
{
    font-weight: 900;
    font-size: 18px !important;
    line-height: 22px;
    color: #292929;
}

.wrapper .content-page .container-fluid.p-4 .row.nav-tabs.nav-bordered.mb-3 .col-md-6.icons button:hover
{
    background: #69A200;
    border-color: #69A200;
    color: #fff !important;
}

.wrapper .content-page .container-fluid .client-img i
{
    position: absolute;
    bottom: 35%;
    left: 78%;
    padding: 8px;
    background: #69A200;
    box-shadow: 0 12px 30px rgba(105, 162, 0, 0.6);
    border-radius: 50%;
    color: #FFFFFF;
}
.wrapper .content-page .container-fluid .clientInformatio-right button
{
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 10%;
    margin-left: 12px;
    color: #69A200;
    background: #FFFFFF;
    border: 1px solid #69A200;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 15px 50px
}

.wrapper .content-page .container-fluid .clientInformatio-right button a{
    color: #69A200;
    font-size: 14px;
}
.wrapper .content-page .container-fluid .clientInformatio-right button:hover a
{
    color: #fff;
}
.wrapper .content-page .container-fluid .clientInformatio-right button.client
{
    padding: 10px 48px;
}
.wrapper .content-page .container-fluid .clientInformatio-right button.agreement
{
    padding: 15px 44px
}
.wrapper .content-page .container-fluid .clientInformatio-right button.overall
{
    padding: 5px 44px
}
.wrapper .content-page .container-fluid .clientInformatio-right button.advice
{
    padding: 15px 60px;
}
.wrapper .content-page .container-fluid .clientInformatio-right button.termite
{
    padding: 5px 25px
}
.wrapper .content-page .container-fluid .clientInformatio-right button:hover,
.wrapper .content-page .container-fluid .clientInformatio-right svg:hover
{
    background: #69A200;
    border-color: #69A200;
    color: #fff;
}

.wrapper .content-page .container-fluid .clientInformatio-left p
{
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #868B8F;
}
.wrapper .content-page .container-fluid .clientInformatio-left h5
{
    font-weight: 900;
    font-size: 18px !important;
    line-height: 22px;
    color: #292929;
}

#clientModal  .modal-footer.float-right button.btn.btn-success.activeBackground
{
    font-size: 18px !important;
    padding: 14px;
}

.wrapper .content-page .container-fluid.p-4 .row .col-md-10 .col-sm-12.mt-3 p span
{
    font-weight: 900;
    font-size: 16px;
    line-height: 18px;
    color: #292929;
}

.wrapper .content-page .container-fluid.p-4 .col-md-9 .col-sm-12 .card-body.p-3 .d-flex .form-check
{
    margin-right: 15px !important;
}
/*-----------------------------------------------------------*/

/*------------------ Report ---------------------------*/

.dropzone {
    border: 2px dashed #69A200;
    background: #fff;
    border-radius: 6px;
    cursor: pointer;
    min-height: 150px;
    padding: 20px;
}
#myAwesomeDropzone
{
    display: flex;
    align-self: center;
    justify-content: center;
    margin-top: 5%;
}
.wrapper div.content-page .container-fluid .buttons-right button.btn-outline-success
{
    padding: 20px 35px 20px 45px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 12%;
    margin-left: 12px;
    color: #69A200;
    background: #FFFFFF;
    border: 1px solid #69A200;
    box-sizing: border-box;
    border-radius: 8px;
}
.wrapper div.content-page .container-fluid .buttons-right button.btn-outline-success a{
    color: #ffffff;
    font-size: 14px;
}
.wrapper div.content-page .container-fluid .buttons-right button.btn-outline-success:hover a
{
    color: #69A200;
}

.wrapper div.content-page .container-fluid .buttons-right button.agreement{
    padding: 20px 40px 20px 22px !important;
}
.wrapper div.content-page .container-fluid .buttons-right button.overall{
    padding: 15px 40px 15px 40px !important;
}
.wrapper div.content-page .container-fluid .buttons-right button.advice{
    padding: 20px 40px 20px 48px !important;
}

.wrapper div.content-page .container-fluid .buttons-right button.btn-outline-success:hover,
.wrapper div.content-page .container-fluid .buttons-right button.btn-outline-success svg:hover
{
    background: #69A200;
    border-color: #69A200;
    color: #fff;
}
.wrapper .content-page .container-fluid .col-md-3 svg.button-line{
    position: absolute;
    top: 10%;
    left: 40%;
}
.wrapper .content-page .container-fluid.p-4 .col-md-9 .card-footer.d-flex.justify-content-end > button.btn.btn-default.mr-2
{
    margin-right: 10px !important;
}
/*-------------------------------- End Report -------------------*/


/*------------------------ Start Rodent Report Personal ---------------*/


select.form-select,
.print
{
    border: 1px solid #E5E5E5;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08177);
    border-radius: 7px;
    text-align: center;
}
.print{
    margin-left: 15px;
    padding: 7px 15px;
    background: #fff;
}
i.fa-share-alt{
    position: absolute;
    top: 13%;
    left: 82%;
    transform: translate(-37%, -23%);
    font-size: 14px;
}
.wrapper .content-page .container-fluid h5 {
    font-size: 13px !important;
    color: #292929;
}

table.dataTable tbody td {
    width: 20%;}

#staffDate tr td input[type=text]
{
    width: 12%;
    height: 15px;
    border-radius: 5px;
    border: 1px solid #a0a0a0;
}
 .table .colors span{margin-left: 5px; font-size: 8px;}



/*// -------------- Print ------------------*/
@media print {
    body{
        background: transparent;
    }
    .sidebar,
    header,
    select.form-select,
    .print
    {
        display: none;
    }

}


/*--------------------*/
