@font-face {
    font-family: 'Calibri';
    src: url('../../assets/css/Calibri-Light.woff2') format('woff2'),
    url('../../assets/css/Calibri-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

body{
    font-family: 'Calibri' !important;
}
/*------------------ Active ------------- ----------*/
.activeColor{color: #69A200 !important;}
.activeColor:hover{color: #939DA7 !important;}
.activeBackground{
    background: #69A200 !important;
    border: 1px solid #69A200 !important;
    color: #fff;
}
/*------------------------------------------------*/


/*--------------- Sidebar----------------*/

.side-nav .side-nav-link span
{
    font-size: 18px;
    line-height: 36px;
}

.side-nav .side-nav-link span.badge
{
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
}














/*--------------- Calender Model -----------------------*/
#calenderModel .modal.show .modal-left, .modal.show .modal-right{
    height: 185vh !important;
}

#event-modal .modal-body input
{
    width: 100%;
    height: 100%;
    border: 1px solid #E5E5E5;
    box-shadow: 0 1px 1px rgba(0, 0 ,0 , 0.08);
    border-radius: 7px;
    text-align: center;
}
/*--------------- Calender Model -----------------------*/


/*------------------------- Staff Location----------------------------*/

.inbox-widget img.img1,
.inbox-widget img.img2,
.inbox-widget img.img3,
.inbox-widget img.img4
{
    border-radius: 50%;
    padding: 3px;
}

.inbox-widget .user-name {
    font-size: 15px;
    font-weight: 500;
    color: #474D53;
    letter-spacing: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.inbox-widget .user-id {
    font-size: 10px;
}
.inbox-widget .btn-outline-light
{
    padding: 4px;
    border-radius: 5px;
    margin-right: 8px;
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
    text-align: center;
    border: none;
    color: #69A200;
    background: #EAF2E1;
}
.inbox-widget img.img1{border: 2px solid #81B214; background: transparent;}
.inbox-widget img.img2{border: 2px solid #B9B9B9; background: transparent;}
.inbox-widget img.img3{border: 2px solid #CC9F00; background: transparent;}
.inbox-widget .details{color: #B9B9B9;background: #fff; border: solid}
.inbox-widget .to-do{color: #A5A5A5;background: #ECECEC;}
.inbox-widget .on-way{color: #CC9F00;background: #FFF3BE;}

.inbox-widget p.inbox-item-date svg{
    position: absolute;
    top: 68%;
    left: 10px;
}

.inbox-widget .inbox-item svg.line-icon {
    position: absolute;
    top: 16%;
    left: 28px;
}
.inbox-widget .inbox-item .km{
    position: absolute;
    top: 51%;
    left: 5%;
    color: #69A200;
    font-size: 11px;
}

.inbox-widget .inbox-item i.fa-map-marker-alt{
    position: absolute;
    top: 36%;
    left: 4%;
    padding: 12px;
    color: #69A200;
    border: 1px solid #d9d9d9;
    background-color: #d9d9d9;
    border-radius: 50%;
}


.inbox-widget .item-border
{
    border-radius: 5px;
    border: 2px solid #69A200;
}
/*--------------- End Staff Location ------------------------*/

/*-------------------------- End Location -------------------*/

.form-check-input:focus {
    border-color: #c8cbcf;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.form-check-input:checked {
    background-color: #69A200;
    border-color: #69A200;
}

.widget-flat
{
    border: 14px ;
}

.widget-flat h5{
    font-size: 25px;
}
.widget-flat h5 i.fa-arrow-up{color: #69A200}
.widget-flat h5 i.fa-arrow-down{color: #C52929}
#leftside-menu-container .simplebar-wrapper .simplebar-mask .logout.text-white.text-center  a
{
    color: #939DA7;
    background: #FFFFFF;
    border-radius: 7px;
    padding: 9px 28px;
    font-size: 17px;
    text-decoration: none;

}
.wrapper .content-page .container-fluid .user-wrapper.d-flex svg
{
    position: relative;
    top: 83%;
    right: 84%;
}

.logout
{
    margin: 80px 1px;
    border-radius: 5px;
    padding: 9px;
    background-color: #f4f4f400;;
}
.help-box i.fa-sign-out-alt
{
    margin-left: 20%;
}
#hideTextLogo  span {
    background: #FFFFFF;
    border-radius: 7px;
    padding: 18px 40px;
    font-size: 16px;
    color: #939DA7;
}

/*-------------------- Check Model ----------------*/

/*--------------------Model---------------*/

 .modal-body input[type=text]
{
    width: 15%;
    height: 29%;
    border-radius: 5px;
    border: 1px solid #a0a0a0;
}

 .modal-body  span
{
    font-size: 12px;
    margin-left: 5px;
}
 .modal-body .colors{
    border: 0.5px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 7px;
}
 .modal-body  span.medium,
.table .colors span.badge.medium
{color: #FF7629; background: #FF7629}

.modal-content .btn-success
{
    font-size: 12px;
    padding: 4px 15px;

}
.modal-content .btn-success a:hover
{
    color: #fff

}
 a{color: #fff; text-decoration: none;}
 .modal-header > button.btn.btn-success {padding: 3px 10px;}
.modal-footer{display: inline-block !important}
.modal-content .modal-footer .btn-success {float: right !important}
.modal-content .modal-footer .btn-outline-light
{
    padding: 4px;
    font-size: 12px;
    color: #939DA7 !important;
    border: 1px solid #939DA7 !important;

}
/*------------------------End Model ---------------------------*/

/*------------------------ Start Rodent Report Personal ---------------*/


select.form-select,
.print
{
    border: 1px solid #E5E5E5;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08177);
    border-radius: 7px;
    text-align: center;
}
.print{
    margin-left: 15px;
    padding: 7px 15px;
    background: #fff;
}
i.fa-share-alt{
    position: absolute;
    top: 13%;
    left: 82%;
    transform: translate(-37%, -23%);
    font-size: 14px;
}
.wrapper .content-page .container-fluid h5 {
    font-size: 13px;
    color: #292929;
}

table.dataTable tbody td {
    width: 20%;}

#staffDate tr td input[type=text]
{
    width: 12%;
    height: 15px;
    border-radius: 5px;
    border: 1px solid #a0a0a0;
}
 .table .colors span{margin-left: 5px; font-size: 8px;}



/*// -------------- Print ------------------*/
@media print {
    body{
        background: transparent;
    }
    .sidebar,
    header,
    select.form-select,
    .print
    {
        display: none;
    }

}


/*--------------------*/
